.about{
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

body.about{
  background-image: url("../backgrounds/umi_da.jpg");
  filter: brightness(50%);
}

h1.about{
  position: fixed;
  top: 25%;
  text-align: center;
}