.about{
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: block;
}

body.about{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../backgrounds/umi_da.jpg");
  overflow: hidden;
}

p.about{
  position: fixed;
  top: 100px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}

img.about{
  position: relative;
  height: 30%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  margin-bottom: 400px;
}