.status{
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

body.status{
  background-image: url("../backgrounds/umi_da.jpg");
  filter: brightness(50%);
}

p.status{
  position: fixed;
  top: 25%;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}