.SideBarContainer {
  position: fixed;
  height: 100%;
  width: 500px;
  background-image: linear-gradient(#360033, #1D2671);
  overflow-y: auto;
}

.ContentContainer {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

img {
  position: relative;
  top: 70px;
  width: 300px;
  margin-top: 25%;
  margin-bottom: 40px;
}

h1.IntroductionSideBar {
  color: white;
}

h2.IntroductionSideBar {
  color: white;
}

p.IntroductionSideBar {
  color: white;
  word-spacing: 25px;
}

@media screen and (max-width:500px){
  .SideBarContainer {
    width: 100vw;
  }
}
